Tiago Pereira
tiagodarochapereira
Online
Ricardo "Cagalhão Das 5" Araújo — 01/29/2024 4:03 PM
Image
Image
Image
Ricardo "Cagalhão Das 5" Araújo — 01/29/2024 4:11 PM
Image
HÉLFÉEEEEE
Ricardo "Cagalhão Das 5" Araújo — 01/29/2024 4:22 PM
SELECT cd.id AS cd_id,
       interpreter.name AS interpreter,
       COUNT(song.id) AS song_count
from cd
Tiago  Pereira — 01/29/2024 4:35 PM
desculpem está a criar eco? é que eu estou a usar fones
Joo “ProdiG" Gonalves — 01/29/2024 5:18 PM
tá aí o paulo loool
Kiko "Que Salsada" Martins — 01/29/2024 5:37 PM
@Ricardo "Cagalhão Das 5" Araújo
Image
Ricardo "Cagalhão Das 5" Araújo — 01/29/2024 5:41 PM
Image
Kiko "Que Salsada" Martins — 01/29/2024 7:04 PM
Image
Kiko "Que Salsada" Martins — 01/29/2024 7:31 PM
@startuml
'https://plantuml.com/sequence-diagram

title <font color=#800020>US07: Add a sensor to an existing device in  a room</font>

skinparam sequence {
ArrowColor #800020
LifeLineBorderColor #800020
LifeLineBackgroundColor #E6E6FA
ParticipantBorderColor #800020
ParticipantBackgroundColor #E6E6FA
}

autonumber

[o->":AddSensorToDeviceController": addSensorToDevice(roomName, deviceName, sensorModel)
activate ":AddSensorToDeviceController"
":AddSensorToDeviceController"->":House": getRoomByName(roomName)
activate ":House"
":House"-->":AddSensorToDeviceController": myRoom
deactivate ":House"
":AddSensorToDeviceController"->"myRoom :Room": getDeviceByName(deviceName)
activate "myRoom :Room"
"myRoom :Room"-->":AddSensorToDeviceController" : myDevice
deactivate "myRoom :Room"
":AddSensorToDeviceController"->"myDevice :Device" : addSensorToDevice(sensorModel)
activate "myDevice :Device"
"myDevice :Device"-->":AddSensorToDeviceController" : true
deactivate "myDevice :Device"
[o<--":AddSensorToDeviceController": true
deactivate ":AddSensorToDeviceController"

@enduml
PlantUML.com
Sequence Diagram syntax and features
PlantUML sequence diagram syntax: You can have several kinds of participants (actors and others), arrows, notes, groups... Changing fonts and colors is also possible.
Image
Ricardo "Cagalhão Das 5" Araújo — 01/29/2024 7:33 PM
@startuml
'https://plantuml.com/sequence-diagram

title <font color=#800020>US07: Add a sensor to an existing device in a room</font>

skinparam sequence {
ArrowColor #800020
LifeLineBorderColor #800020
LifeLineBackgroundColor #E6E6FA
ParticipantBorderColor #800020
ParticipantBackgroundColor #E6E6FA
}

autonumber

[o->":AddSensorToDeviceController": addSensorToDevice(roomName, deviceName, sensorModel)
activate ":AddSensorToDeviceController"
":AddSensorToDeviceController"->":House": addSensorToRoomDevice(roomName, deviceName, sensorModel)
activate ":House"
":House"->"myRoom :Room": addSensorToDevice(deviceName, sensorModel)
activate "myRoom :Room"
"myRoom :Room"->"myDevice :Device" : addSensor(sensorModel)
activate "myDevice :Device"
"myDevice :Device"-->":House" : true
deactivate "myDevice :Device"
deactivate "myRoom :Room"
":House"-->":AddSensorToDeviceController" : true
deactivate ":House"
[o<--":AddSensorToDeviceController": true
deactivate ":AddSensorToDeviceController"

@enduml
PlantUML.com
Sequence Diagram syntax and features
PlantUML sequence diagram syntax: You can have several kinds of participants (actors and others), arrows, notes, groups... Changing fonts and colors is also possible.
Image
Joo “ProdiG" Gonalves — 01/30/2024 10:52 PM
https://youtu.be/_mYuXFHID44?t=242
YouTube
GGF Events
The No RGB, All AMD, All EK Gaming Beast in the O11 XL
Image
https://www.youtube.com/watch?v=xwX_uChLE58&t=235s
YouTube
TechMaxTV
Timelapse Build Lian Li O11D XL ROG Themed + PC Porn
Image
SELECT m.idade
FROM marinheiros m
WHERE m.idade > 18
  AND m.idade = (SELECT MIN(m2.idade)
                 FROM marinheiros m2
                 WHERE m2.idade > 18)
  AND m.classificacao IN (SELECT m3.classificacao
                          FROM marinheiros m3
                          GROUP BY m3.classificacao
                          HAVING COUNT(m3.id_marinheiro) >= 2);
Kiko "Que Salsada" Martins — 01/31/2024 3:12 PM
Attachment file type: spreadsheet
Diogo_Resposta_TesteModelo.xlsx
8.69 KB
Tiago  Pereira — 01/31/2024 6:51 PM
Image
Tiago  Pereira — 01/31/2024 7:13 PM
Image
Ricardo "Cagalhão Das 5" Araújo — 02/01/2024 6:51 PM
fazer isto em Floor > fazer isto em Room > devolver para floor > fazer isto em device
Tiago  Pereira — 02/01/2024 6:52 PM
Image
Image
Image
Tiago  Pereira — 02/01/2024 7:47 PM
"Só meti a cabeça não há-de ser por aí"- Riightcardo
Tiago  Pereira — 02/01/2024 8:30 PM
Image
Ricardo "Cagalhão Das 5" Araújo — 02/10/2024 10:52 AM
Attachment file type: archive
flappy-bird-assets-1.1.0.zip
548.52 KB
Attachment file type: archive
Unity_Tutorial.zip
1.13 MB
Ricardo "Cagalhão Das 5" Araújo — 03/01/2024 10:45 AM
só buscar café e ligar o pc e tou pronto
Tiago  Pereira — 03/04/2024 12:23 PM
muda para Sunrise, está-me a dar trigger
r minusculo, obrigado
🤡
Tiago  Pereira — 03/04/2024 12:34 PM
Anda lá mete calendário 🤡
Tiago  Pereira — 03/04/2024 12:51 PM
Timestamp time1 = Timestamp.valueOf("2024-03-01 12:00:00");
        Timestamp time2 = Timestamp.valueOf("2024-03-01 13:00:00");
        Timestamp time3 = Timestamp.valueOf("2024-03-01 14:00:00");
tens que suar valueOf
Tiago  Pereira — 03/04/2024 12:59 PM
@Test
    public void getValueAtMultipleTimes_ShouldRetrieveCapacityValues() throws InstantiationException {
        // Arrange
        Timestamp time1 = Timestamp.valueOf("2024-03-01 12:00:00");
        Timestamp time2 = Timestamp.valueOf("2024-03-01 13:00:00");
        Timestamp time3 = Timestamp.valueOf("2024-03-01 14:00:00");

        int capacity1 = 50;
        int capacity2 = 75;
        int capacity3 = 100;

        // Create CAP200Time instance and set capacity measurements
        FactorySensorType factorySensorType = new FactorySensorType();
        Catalogue catalogue = new Catalogue(new PropertyListConfiguration(), factorySensorType);
        catalogue.addSensorType("Capacity", Unit.Percentage);
        Map<Timestamp, Integer> capacityMeasurements = new HashMap<>();

        capacityMeasurements.put(time1, capacity1);
        capacityMeasurements.put(time2, capacity2);
        capacityMeasurements.put(time3, capacity3);
        CAP200Time cap200TimeSensor = new CAP200Time(catalogue);
        cap200TimeSensor.setCapacityMeasurements(capacityMeasurements);

        // Act
        CAP200Value value1 = (CAP200Value) cap200TimeSensor.getValue(time1);
        CAP200Value value2 = (CAP200Value) cap200TimeSensor.getValue(time2);
        CAP200Value value3 = (CAP200Value) cap200TimeSensor.getValue(time3);

        // Assert
        assertEquals(capacity1, value1._dValue);
        assertEquals(capacity2, value2._dValue);
        assertEquals(capacity3, value3._dValue);
    }
}
Joo “ProdiG" Gonalves — 03/04/2024 2:57 PM
sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
chsh -s $(which zsh)
Ricardo "Cagalhão Das 5" Araújo — 03/04/2024 3:30 PM
Tiago-Camião-DevOps
Ricardo "Cagalhão Das 5" Araújo — 03/08/2024 11:15 AM
Attachment file type: acrobat
SWitCH_2023-2024_Projeto_S3.pdf
708.33 KB
Pedro "Dejavu" Gil — 03/08/2024 11:54 AM
SIV280Value valueDouble = mock(SIV280Value.class);
        when(valueDouble.getValue()).thenReturn(value);
Kiko "Que Salsada" Martins — Yesterday at 4:57 PM
git clone https://github.com/spring-guides/tut-react-and-spring-data-rest
GitHub
GitHub - spring-guides/tut-react-and-spring-data-rest: React.js and...
React.js and Spring Data REST :: A tutorial based on the 5-part blog series by Greg Turnquist - spring-guides/tut-react-and-spring-data-rest
GitHub - spring-guides/tut-react-and-spring-data-rest: React.js and...
Ricardo "Cagalhão Das 5" Araújo — Yesterday at 5:02 PM
Image
Tiago  Pereira — Yesterday at 5:17 PM
Ixus
Ricardo "Cagalhão Das 5" Araújo — Yesterday at 5:26 PM
Step 1: Copy the code of the Tutorial React.js and Spring Data REST Application into a new folder named CA1 #1
Step 2: add a new field to record the years of the employee in the company (e.g., jobYears).
Step 3: Add a new field to record the title of the employee in the company (e.g. jobTitle)
Ricardo "Cagalhão Das 5" Araújo — Yesterday at 5:36 PM
$ git commit -m "[Initial] #1 Initial commit with the moved tut-react-and-spring-data-rest application in the CA1 folder"
git tag v1.1.0
$ git push origin v1.1.0
$ git push --set-upstream origin master
Ricardo "Cagalhão Das 5" Araújo — Yesterday at 6:59 PM
https://myisepipp-my.sharepoint.com/:p:/r/personal/1231856_isep_ipp_pt/_layouts/15/Doc.aspx?sourcedoc=%7BD9BBD356-F046-48C9-B5CA-7A125EB77E13%7D&file=Sprint2(1)%202.pptx&action=edit&mobileredirect=true
Kiko "Que Salsada" Martins — Yesterday at 11:10 PM
./mvnw spring-boot:run
Ricardo "Cagalhão Das 5" Araújo — Yesterday at 11:14 PM
Image
Kiko "Que Salsada" Martins — Yesterday at 11:22 PM
public boolean validateArguments(String firstName, String lastName, String description, String jobTitle) {
        if (firstName == null  firstName.trim().isEmpty()) return false;
        if (lastName == null  lastName.trim().isEmpty()) return false;
        if (description == null  description.trim().isEmpty()) return false;
        if (jobTitle == null  jobTitle.trim().isEmpty()) return false;
        return true;
    }
public Employee(String firstName, String lastName, String description, String jobTitle) {
        if (!validateArguments(firstName, lastName, description, jobTitle)) {
            throw new IllegalArgumentException("Invalid arguments");
        }
        this.firstName = firstName;
        this.lastName = lastName;
        this.description = description;
        this.jobTitle = jobTitle;
    }
Kiko "Que Salsada" Martins — Yesterday at 11:37 PM
https://pastebin.com/XMhNRJGf
Pastebin
package com.greglturnquist.payroll;import org.junit.jupiter.api.Tes...
Pastebin.com is the number one paste tool since 2002. Pastebin is a website where you can store text online for a set period of time.
testes
Ricardo "Cagalhão Das 5" Araújo — Yesterday at 11:50 PM
[Feat] #3 - Added JobTitle field, Employee class with tests, and updated DatabaseLoader class with an additional field.
Ricardo "Cagalhão Das 5" Araújo — Yesterday at 11:57 PM
[Feat] close #3 - Added JobTitle field, Employee class with tests, and updated DatabaseLoader class with an additional field.
Kiko "Que Salsada" Martins — Yesterday at 11:58 PM
[Feat] - Added JobTitle field, EmployeeTest class with tests, and updated DatabaseLoader class with an additional field. Close #3
Kiko "Que Salsada" Martins — Today at 12:21 AM
https://pastebin.com/4FKQsZ63
Pastebin
package com.greglturnquist.payroll;import org.junit.jupiter.api.Tes...
Pastebin.com is the number one paste tool since 2002. Pastebin is a website where you can store text online for a set period of time.
Ricardo "Cagalhão Das 5" Araújo — Today at 12:23 AM
@Test
    void testEmployeeToString() {
        Employee employee = new Employee("John", "Doe", "Description", "Developer", 5);
        String expectedString = "Employee{id=null, firstName='John', lastName='Doe', description='Description', jobTitle='Developer', jobYears='5'}";
        assertEquals(expectedString, employee.toString());
    }
Kiko "Que Salsada" Martins — Today at 12:23 AM
[Feat] - Added JobTitle field, updated respective tests in EmployeeTest, and updated DatabaseLoader class with an additional field. Close #2
Tiago  Pereira — Today at 12:36 AM
e agora?
Ricardo "Cagalhão Das 5" Araújo — Today at 12:46 AM
# Created by https://www.toptal.com/developers/gitignore/api/java,sonar,maven,node,intellij
# Edit at https://www.toptal.com/developers/gitignore?templates=java,sonar,maven,node,intellij

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# SonarLint plugin
.idea/sonarlint/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
# https://plugins.jetbrains.com/plugin/7973-sonarlint
.idea/**/sonarlint/

# SonarQube Plugin
# https://plugins.jetbrains.com/plugin/7238-sonarqube-community-plugin
.idea/**/sonarIssues.xml

# Markdown Navigator plugin
# https://plugins.jetbrains.com/plugin/7896-markdown-navigator-enhanced
... (205 lines left)
Collapse
message.txt
7 KB
﻿
# Created by https://www.toptal.com/developers/gitignore/api/java,sonar,maven,node,intellij
# Edit at https://www.toptal.com/developers/gitignore?templates=java,sonar,maven,node,intellij

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# SonarLint plugin
.idea/sonarlint/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
# https://plugins.jetbrains.com/plugin/7973-sonarlint
.idea/**/sonarlint/

# SonarQube Plugin
# https://plugins.jetbrains.com/plugin/7238-sonarqube-community-plugin
.idea/**/sonarIssues.xml

# Markdown Navigator plugin
# https://plugins.jetbrains.com/plugin/7896-markdown-navigator-enhanced
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator/

# Cache file creation bug
# See https://youtrack.jetbrains.com/issue/JBR-2257
.idea/$CACHE_FILE$

# CodeStream plugin
# https://plugins.jetbrains.com/plugin/12206-codestream
.idea/codestream.xml

# Azure Toolkit for IntelliJ plugin
# https://plugins.jetbrains.com/plugin/8053-azure-toolkit-for-intellij
.idea/**/azureSettings.xml

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# Eclipse m2e generated files
# Eclipse Core
.project
# JDT-specific (Eclipse Java Development Tools)
.classpath

### Node ###
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp

# Docusaurus cache and generated files
.docusaurus

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

### Node Patch ###
# Serverless Webpack directories
.webpack/

# Optional stylelint cache

# SvelteKit build / generate output
.svelte-kit

### Sonar ###
#Sonar generated dir
/.sonar/

# End of https://www.toptal.com/developers/gitignore/api/java,sonar,maven,node,intellij
message.txt
7 KB